#puppyImage {
	width: 100%;
}
<<<<<<< HEAD

.icon-container {
	float:left;
	right: 5px;
	margin-right: 15px;
	width:20%;
}
.message-text {
}
.message-time {
	clear:both;
}
.message-icon {
	width:100%;
body {
    overflow:hidden;
}