body {
    font-family:Verdana;
}
#header-bar {
	color: white;
    background-color:#112277;
    text-align:right;
    padding:5px 5px 5px 5px;
}
#title {
    position:relative;
    right:20px;
    font-style:italic;
}
#mode-type {
    float:left;
}
#current-time {
    float:right;
}
.clear {
    clear:both;
}
