body {
    font-family:Verdana;
    color:white;
}
#header-bar {
    background-color:#AD66A5;
    text-align:right;
    padding:5px 5px 5px 5px;
}
#title {
    position:relative;
    right:20px;
    font-style:italic;
}
#mode-type {
    float:left;
}
#current-time {
    float:right;
}
#main-content {
    background-color:#ff0000;
    width:100%;
}
#chat_boards {
    background-color:#abcdef;
    width:100%;
    overflow:hidden;
}
#recent-chats {
    background-color:#fff;
    border-radius:4px;
    width:50%;
    height:100%;
    float:left;
    padding-bottom:1000px;
    margin-bottom:-1000px;
}
#long_chat-history {
    background-color:#fff;
    border-radius:4px;
    width:50%;
    height:100%;
    float:left;
    padding-bottom:1000px;
    margin-bottom:-1000px;
}
.message {
    border-radius:4px;
    background-color:#F78181;
    color: white;
    border: 1px solid #ddd;
    padding:5px 5px 5px 5px;
}
.message-text {
    font-family:Verdana;
    color: white;
}
.message-time {
    font-family:Courier;
    text-align:right;
    color:#f2f2f2;
}
#in-progress {
    font-size:250%;
}
#first-most-recent .message-text {
    font-size:250%;
}
#second-most-recent .message-text {
    font-size:200%;
}
#third-most-recent .message-text {
    font-size:150%;
}
.user1 {
    background-color:#F78181;
}
.user2 {
    background-color:#819FF7;
}
.user3 {
    background-color:#01DF74;
}

#icon-bar {
    background-color:#AD66A5;
}
#other-modes-label {
    padding: 5px 5px 5px 5px;
    float:left;
}
#icon-list {
    padding:5px 5px 5px 5px;
    text-align:center;
}
.icon-container {
    border:solid white;
    padding:5px 5px 5px 5px;
    margin-left:15px;
    width:40px;
    height:22px;
    display:inline-block;
}
.icon {
    padding:5px 5px 5px 5px;
    height: 100%;
    background-size:contain;
    background-repeat: no-repeat;
}
.storyboard {
    background-image:url("storyboard_icon.png");
}
.clear {
    clear:both;
}
