@font-face{
    font-family:JandaSafeandSound;
    src:url("/resources/JandaSafeandSound.ttf");
}
#storyboard-content {
    width:100%;
	height: 100%;
	
	background:url("/resources/Open_Notebook_by_popthebubblewrap.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
#story_pages{
    width:100%;
    overflow:hidden;
}
#current-story-container{
    width:37%;
    height:100%;
    float:left;
    margin-top:7%;
    margin-left:5%;
    margin-right:8%;
    padding-bottom:1000px;
    margin-bottom:-1000px;
}
#story-history {
    width:37%;
    height:100%;
    float:left;
    margin-top:7%;
    margin-left:8%;
    margin-right:5%;
    padding-bottom:1000px;
    margin-bottom:-1000px;
}
.story {
    /*background-color:#F78181*/;
    /*border: 1px solid #ddd;*/
    margin:20px 20px 20px 20px;
}
.story-topic{
    font-size:250%;
    color:black;
}
.story-topic .recent{
    font-size:150%;
}
.story-text {
    padding: 10px 10px 10px 10px;
    font-family:JandaSafeandSound;
    color: black;
}
.story-text .recent{
    font-size:75%;
}
.completion-time {
    font-family:Courier;
    text-align:right;
    color:gray;
}
#story-in-progress {
    font-size:250%;
	min-height: 150px;
}
#sentence-counter{
    color:black;
    padding:5px 5px 5px 5px;
    border-radius:4px;
    font-size:50%;
    text-align:right;
}
